# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule MailSlurpAPI.Api.ApiInternalController do
  @moduledoc """
  API calls for all endpoints tagged `ApiInternalController`.
  """

  alias MailSlurpAPI.Connection
  import MailSlurpAPI.RequestBuilder


  @doc """

  ## Parameters

  - connection (MailSlurpAPI.Connection): Connection to server
  - key (String.t): 
  - get_or_create_saml_user_options (GetOrCreateSamlUserOptions): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %MailSlurpAPI.Model.UserDto{}} on success
  {:error, info} on failure
  """
  @spec get_saml_user_or_create(Tesla.Env.client, String.t, MailSlurpAPI.Model.GetOrCreateSamlUserOptions.t, keyword()) :: {:ok, MailSlurpAPI.Model.UserDto.t} | {:error, Tesla.Env.t}
  def get_saml_user_or_create(connection, key, get_or_create_saml_user_options, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/internal/saml/user")
    |> add_param(:query, :"key", key)
    |> add_param(:body, :body, get_or_create_saml_user_options)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %MailSlurpAPI.Model.UserDto{}}
    ])
  end
end
